body
	background black
	
	
.contenedor
	
	padding 0
	border solid #E6E6E6
	background #E6E6E6
	border-radius 15px
	margin 15px
	
	
	header
		position relative
		margin 0
		background #2A579A
		overflow hidden
		
		.logo
			float left
			width 100px
			
		.foto
			position absolute
			top 6px
			right 0
			width 100px
			