body
	background black
	
	
.contenedor
	
	padding 0
	border solid #E6E6E6
	background #E6E6E6
	border-radius 15px
	margin 15px
	
	
	header
		position relative
		margin 0
		background #2A579A
		overflow hidden
		color white
		border-radius 15px
		
		.logo
			float left
			border-right 3px solid #00C1F5
			padding-right 20px
			img
				width 100px
		.foto
			position absolute
			top 6px
			right 0
			img
				width 100px
				border-radius 50%;
		.titulo
			margin 0px 200px 0px 200px
			font-family: 'Architects Daughter', cursive;
			
			