body {
  background: #000;
}
.contenedor {
  padding: 0;
  border: solid #e6e6e6;
  background: #e6e6e6;
  border-radius: 15px;
  margin: 15px;
}
.contenedor header {
  position: relative;
  margin: 0;
  background: #2a579a;
  overflow: hidden;
  color: #fff;
  border-radius: 15px;
}
.contenedor header .logo {
  float: left;
  border-right: 3px solid #00c1f5;
  padding-right: 20px;
}
.contenedor header .logo img {
  width: 100px;
}
.contenedor header .foto {
  position: absolute;
  top: 6px;
  right: 0;
}
.contenedor header .foto img {
  width: 100px;
  border-radius: 50%;
}
.contenedor header .titulo {
  margin: 0px 200px 0px 200px;
  font-family: 'Architects Daughter', cursive;
}
